.firstClass{
	background: blue;
}

.economicClass{
	background: green;
}

.seats{
	display: inline-block;
	width: 150px;
	height: 80px;
	border: 2px solid #8A0829;
	border-radius: 15px;
}

body{
	background-color: #F5D0A9;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

#btn{
	background-color: black;
	color:white;
	padding: 10px;
}